@font-face {
	font-family: 'Pauza';
	src: url(#{$icon-font-path}/pauza/PauzaBook.eot);
	src: url(#{$icon-font-path}/pauza/PauzaBook.eot?#iefix) format('embedded-opentype'),
	     url(#{$icon-font-path}/pauza/PauzaBook.woff) format('woff'),
	     url(#{$icon-font-path}/pauza/PauzaBook.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pauza';
	src: url(#{$icon-font-path}/pauza/PauzaBold.eot);
	src: url(#{$icon-font-path}/pauza/PauzaBold.eot?#iefix) format('embedded-opentype'),
	     url(#{$icon-font-path}/pauza/PauzaBold.woff) format('woff'),
	     url(#{$icon-font-path}/pauza/PauzaBold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Pauza';
	src: url(#{$icon-font-path}/pauza/PauzaLight.eot);
	src: url(#{$icon-font-path}/pauza/PauzaLight.eot?#iefix) format('embedded-opentype'),
	     url(#{$icon-font-path}/pauza/PauzaLight.woff) format('woff'),
	     url(#{$icon-font-path}/pauza/PauzaLight.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}


html, body {
	font-size:10px;
	font-family: 'Pauza', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}
h1 { font-size:6rem; }
h2 { 
	font-size:2.3rem;
	color: $text-dark;
	@include media(">phone") {
		font-size:4rem; 
	}
}
h3 { 
	font-size:3.3rem;
	color:$text-dark;
	font-weight:normal;
	}
h4 { font-size:2.1rem; }

p {
	font-size:1.8rem; font-weight:lighter;
}