header#site-header {
	// height:7.8rem;
	padding:0!important;
	@include media(">phone") {
		background: url('../images/header-background.png');
		background-size:cover;

	}
	.content {
		height:10rem;
		background-color:$orange;
		display: flex;
		
		@include media(">phone") {
			height:42rem;
			max-width: 1024px;
			position:relative;
			background-color: initial;
			// max-width: 1034px;
		}
	}
	
	.logo {
		height: 100%;
		padding: 3rem 1rem 3rem 1rem;
		width: auto;
		img {height:100%;width:auto;}
		@include media(">phone") {
			height:initial;
			img {
				width:12rem;
				height:auto;
			}
		}
	}

	.text {
		flex:3;
		h1 {
			color:#ffffff;
			line-height: 10rem;
			margin: 0;
			text-align:center;

		}

		@include media ("<=phone") {
			h1 {font-size: 2.2rem;}
		}
		@include media(">phone") {
			flex:initial;
			display:block;
			position:absolute;
			width: 34rem;
			z-index:20;
			h1 {text-align:right; line-height:7rem;}

			p {color:#ffffff; line-height: 1;}
		}
	}

	.header-image {
		// flex:2.4;
		overflow:hidden;
		text-align:left;
		width:11rem;
		img {
			height: 112%;
		    margin-top: 1rem;
		    margin-left: -1rem;

		}

		@include media(">phone") {
			position: absolute;
			bottom: 0;
			left: 0rem;
			height: 93%;
			width: 95%;
			z-index: 10;
			text-align: center;
			img {
				width: 42rem;
				height: auto;
				margin: 0;
			}
		}
	}

	.lead-form {

		@include media(">phone") {
			padding:1.5rem;
			// margin-right: 40rem;
			z-index: 20;
			position: absolute;
			left: 0;
		}
		form {
			background-color: #e8e8e8;
			height:100%;

			header {
				position:relative;
				h4 {
					margin:0; color:$orange;
					font-weight:lighter;
					font-size:3.5rem;
					padding-bottom: 1.5rem;
				}

				p {
					color:$text-dark;
					font-weight:normal;
					margin: 0;
					font-size: 2rem;
				}

				img.triangle-down {
					position: absolute;
					bottom: -1.5rem;
					margin: auto;
					left: 0;
					right: 0;
				}

				background-color:#ffffff;
				text-align: center;

				@include media(">phone") {
					color:$orange;
					h4 {
						font-weight: bold;
					    font-size: 3rem;
					    margin: 0;
					    padding: 0;
					}
					p { 
						color:$orange; 
						font-weight:lighter;
						line-height:1;
						padding-bottom:1.5rem;
					}
				}
			}

			.form-fields {
				padding:3.5rem 1.5rem 1.5rem;
				width:30rem;
				height:100%;
				
				.buttons-container {
					width:100%;
					margin-top:1.5rem;

					.upload-button {}
					.send-button {float:left;}
				}

				.file-selected {
					font-family: sans-serif;
					font-size: 1.3rem;
					margin-top:1rem;
				}

				@include media("<=phone") {
					min-width: 30rem;
					max-width: 57rem;
					width:100%;
					margin:auto;
				}

				@include media(">phone") {
					padding-top:2.5rem;
					.buttons-container {
						position: relative;
						margin-bottom: 1rem;
					}

					.file-selected {
						position: absolute;
						font-family: sans-serif;
						font-size: 1.3rem;
						bottom: -2.2rem;
					}
				}
			}



			.lead-phone {width:71%;}
			.lead-phone-first {width:25%; float:left;}
		}
	}
}