#section-3 {
	h2 {
		text-align: center;
		color: $orange;
	}
	p {
		text-align: center;
		line-height: 2rem;
	}

	@include media(">phone") {
		height:20rem;
		margin-top:2rem;

		h2 {
			text-align: right;
			padding-right: 14rem;
			// margin-top: 6.2rem;
		}

		p {
			text-align: right;
			padding-right: 14rem;
    		padding-bottom: 2rem;
  			line-height: 2.7rem;
		}
	}
	

}