#section-2 {
	background-color:#f0f0f0;
	@include media(">phone") {
		background: #f0f0f0 url('../images/section-2-bg.png');
		background-size: cover;
		background-position-x: 50%;
	}
	h2 {
		text-align: center;
		margin-bottom: 2.2rem;
	}

	.icons-container {
		margin-bottom: 2rem;
	    .icon-col {
	    	margin-bottom:2rem;
	      img {
	        margin: auto;
	      }

	      .icon-text {
	        font-size: 1.8rem;
	        text-align: center;
	        margin-bottom: 1.3rem;
	        margin-top: 1rem;
	        line-height: 1.6rem;
	      }
	    }    
	}
}