<header class="col-sm-12" id="site-header">
	<div class="wrapper content">
		<div class="logo visible-xs">
			<img src="images/logo.png" class="img-responsive" alt="שחל - בואו להציל חיים">
		</div>
		<div class="text">
			<div class="logo hidden-xs">
				<img src="images/logo.png" class="img-responsive" alt="שחל - בואו להציל חיים">
			</div>
			<h1>בואו להציל חיים.</h1>
			<p class="hidden-xs">
				לעבוד בסביבה טכנולוגית, דינאמית ומתקדמת, להתמקצע בתחום הלב והכי חשוב - להציל חיי אדם!
			</p>
		</div>
		<div class="header-image">
			<img src="images/doctors-real.png" alt="">
		</div>
		<div class="lead-form hidden-xs">
			<form action="#" id="desktop-lead-form">
				<header>
					<h4>מתאימים?</h4>
					<p>הגישו קורות חיים<br /> וניצור אתכם קשר בהקדם</p>
					<img src="images/triangle-down.png" class="triangle-down" alt="">
				</header>
				<div class="form-fields">
					<input class="hide-on-success" type="text" id="desktop-lead-name" placeholder="*שם מלא" />
					<input class="hide-on-success lead-phone" type="number" id="desktop-lead-phone" placeholder="*טלפון" />  
					<input class="hide-on-success lead-phone-first clearfix" type="number" id="desktop-lead-phone-first"  />
					<input class="hide-on-success" type="email" id="desktop-lead-email" placeholder="דוא\"ל" />
					<div class="hide-on-success select-style">
						<select name="desktop-lead-job" id="desktop-lead-job">
							<option value="first_call">ננציגי קו רפואי ראשון</option>
							<option value="nurses_operator">אחיות למוקד הרפואי</option>
							<option value="paramedics">פארמדיקים</option>
							<option value="doctors">רופאים</option>
						</select>
					</div>
					<div class="hide-on-success buttons-container">
						<input type="file" accept=".pdf,.doc,.docx" class="hidden" id="file-upload" />
						<button class="btn btn-grey btn-large upload-file-button" id="desktop-upload-button">
							העלה קובץ קו"ח"
						</button>
						<button type="submit" class="btn btn-orange btn-large send-button" id="desktop-send-button">
							שלח קו"ח!
						</button>
					</div>

					<div class="form-success-container">
						<h4>תודה!</h4>
						<p>פנייתך התקבלה.</p>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	<div class="lead-form visible-xs">
		<form action="#" id="mobile-lead-form">
			<header>
				<p>לעבוד בסביבה טכנולוגית, דינאמית ומתקדמת.</p>
				<h4>שלח לנו קו"ח עוד היום</h4>
				<img src="images/triangle-down.png" class="triangle-down" alt="">
			</header>
			<div class="form-fields">
				<input type="text" id="mobile-lead-name" placeholder="*שם מלא" class="hide-on-success" />
				<input type="number" id="mobile-lead-phone"  class="hide-on-success lead-phone" placeholder="*טלפון" />  
				<input type="number" id="mobile-lead-phone-first" class="hide-on-success lead-phone-first clearfix" />
				<input type="email" id="mobile-lead-email" class="hide-on-success" placeholder="דוא\"ל" />
				<div class="hide-on-success select-style">
					<select name="mobile-lead-job" id="mobile-lead-job">
						<option value="first_call">ננציגי קו רפואי ראשון</option>
						<option value="nurses_operator">אחיות למוקד הרפואי</option>
						<option value="paramedics">פארמדיקים</option>
						<option value="doctors">רופאים</option>
					</select>
				</div>
				<div class="hide-on-success buttons-container">

					<button class="btn btn-grey btn-large upload-file-button" id="mobile-upload-button" >
						העלה קובץ קו"ח"
					</button>
					<button class="btn btn-orange btn-large send-button" id="mobile-send-button">
						שלח קו"ח!
					</button>
				</div>
				<div class="form-success-container">
					<h4>תודה!</h4>
					<p>פנייתך התקבלה.</p>
				</div>
			</div>
		</form>
	</div>

</header>