<header class="col-sm-12" id="site-header">
	<div class="wrapper content">
		<div class="logo visible-xs">
			<img src="images/logo.png" class="img-responsive" alt="שחל - בואו להציל חיים">
		</div>
		<div class="text">
			<div class="logo hidden-xs">
				<img src="images/logo.png" class="img-responsive" alt="שחל - בואו להציל חיים">
			</div>
			<h1>בואו להציל חיים.</h1>
			<p class="hidden-xs">
				לעבוד בסביבה טכנולוגית, דינאמית ומתקדמת, להתמקצע בתחום הלב והכי חשוב - להציל חיי אדם!
			</p>
		</div>
		<div class="header-image">
			<img src="images/doctors-real.png" alt="">
		</div>
		<div class="lead-form">
			<form action="#" id="lead-form">
				<header>
					<h4>מתאימים?</h4>
					<p>הגישו קורות חיים<br /> וניצור אתכם קשר בהקדם</p>
				</header>
				<div class="form-fields">
					<input type="text" id="lead-name" placeholder="*שם מלא" />
					<input type="number" id="lead-phone" placeholder="*טלפון" />  
					<input type="number" id="lead-phone-first" />
					<input type="email" id="lead-email" placeholder="דוא\"ל" />
					<select name="lead-job" id="lead-job">
						<option value="">אופציה 1</option>
					</select>
				</div>
			</form>
		</div>
	</div>
	

</header>