<header class="col-sm-12">
	<div class="logo visible-xs">
		<img src="images/logo.png" class="img-responsive" alt="שחל - בואו להציל חיים">
	</div>
	<div class="text">
		<div class="logo hidden-xs">
			<img src="images/logo.png" class="img-responsive" alt="שחל - בואו להציל חיים">
		</div>
		<h1>בואו להציל חיים.</h1>
		<p class="hidden-xs">
			לעבוד בסביבה טכנולוגית, דינאמית ומתקדמת, להתמקצע בתחום הלב והכי חשוב - להציל חיי אדם!
		</p>
	</div>
	<div class="header-image">
		<img src="images/doctors-real.png" alt="">
	</div>
	

</header>