<div id="section-3" class="col-xs-12">
	<h2>מהמובילים בעולם בתחום הלב</h2>
	<p>מאז הקמתה, בשנת 1987, מקדמת שחל ללא הרף את תחום התמחותה: אבחון, מעקב וטיפול קרדיאלי, מבית המנוי למוקד שחל. אנחנו מאמינים כי הבאת הרפואה המתקדמת ביותר אל ביותו של המנוי תוך קשב מתמיד לפעימות לבו, יכולה להביא לשיפור ניכר בבריאותו ובאיכות חייו ולהגדיל משמעותית את סיכויי ההישרדות מהתקף לב. כיום, שחל היא חברה בינלאומית מובילה המקדמת את תחום הטלרפואה ברחבי העולם, מפתחת מכשור מתקדם לצורך מעקב רפואי מרחוק, חוקרת והופכת מושגים שפעם היו בגדר דמיון - למציאות יומיומית.</p>
</div>