<div id="section-2" class="col-xs-12 col-sm-12">
  <div class="content wrapper">
  	<h2>למה כדאי לעבוד בשחל?</h2>
  	<div class="row icons-container">
  		<div class="col-xs-6 col-sm-2 icon-col">
  			<img class="img-responsive" src="images/icons/heart-icon.png">
          	<div class="icon-text">ניסיון של 30 שנה<br>בתחום הלב</div>
  		</div>
  		<div class="col-xs-6 col-sm-2 icon-col">
  			<img class="img-responsive" src="images/icons/medic-icon.png">
          	<div class="icon-text">מקצוע<br>מציל חיים</div>
  		</div>
  		<div class="col-xs-6 col-sm-2 icon-col">
  			<img class="img-responsive" src="images/icons/location-icon.png">
          	<div class="icon-text">מיקום מרכזי<br>(5 דק׳ מעזריאלי, ת״א)</div>
  		</div>
  		<div class="col-xs-6 col-sm-2 icon-col">
  			<img class="img-responsive ambulance-icon" src="images/icons/shake-hands-icon.png">
          	<div class="icon-text">אפשרויות<br>קידום מגוונות</div>
  		</div>
  		<div class="col-xs-6 col-sm-2 icon-col">
  			<img class="img-responsive ambulance-icon" src="images/icons/star-icon.png">
          	<div class="icon-text">בונוסים ותמריצים<br>על נכונות והתמדה</div>
  		</div>
  		<div class="col-xs-6 col-sm-2 icon-col">
  			<img class="img-responsive ambulance-icon" src="images/icons/car-icon.png">
          	<div class="icon-text">שירות מוניות<br>בלילה ובסופ״ש</div>
  		</div>
  	</div>
  </div>
</div>