<div id="section-2">
	<h2>למה כדאי לעבוד בשחל?</h2>
	<ul class="icons-container">
      <li>
        <img class="img-responsive" src="icons/phone-icon.png">
        <div class="icon-text">מוקד רפואי<br>טלפוני 24/7</div>
      </li>
      <li>
        <img class="img-responsive" src="icons/heart-monitor-icon.png">
        <div class="icon-text">טכנולוגיה ביתית<br>חדשנית לבדיקת אק״ג</div>
      </li>
      <li>
        <img class="img-responsive" src="icons/monitor-icon.png">
        <div class="icon-text">תיק רפואי<br>אישי ואלקטרוני</div>
      </li>
      <li>
        <img class="img-responsive ambulance-icon" src="icons/ambulance-icon.png">
        <div class="icon-text">ניידות מתקדמות<br>לטיפול נמרץ</div>
      </li>
      <li>
        <img class="img-responsive ambulance-icon" src="icons/ambulance-icon.png">
        <div class="icon-text">ניידות מתקדמות<br>לטיפול נמרץ</div>
      </li>
      <li>
        <img class="img-responsive ambulance-icon" src="icons/ambulance-icon.png">
        <div class="icon-text">ניידות מתקדמות<br>לטיפול נמרץ</div>
      </li>
    </ul>
</div>