<div class="container">
	<div class="row">
		{{> header }}
	</div>
	<div class="row">
		{{> section-1 }}
	</div>
	<div class="row">
		{{> section-2 }}
	</div>
	<div class="row">
		{{> section-3 }}
	</div>
</div>

{{> footer }}